body {
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

header, footer {
    background-color: #7b0080;
    color: #000000;
    text-align: center;
    line-height: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.nav {
    background-color: rgb(255, 246, 116);
}

.main-content {
    background-color: rgb(255, 247, 117);
}

.sidebar {
    background-color: rgb(254, 245, 116);
}