body {
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.nav {
    background-color: #dcdcdc;
}

.main-content {
    background-color: #bfbfbf;
}

.sidebar {
    background-color: #dcdcdc;
}